.container {
  width: 100%;
  min-height: 100vh;
  position: relative;

  .box {
    width: 100%;
    position: absolute;
    bottom: 12%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 clamp(1rem, 10vw, 14rem);
  }
}

/*
********** MEDIA QUERIES **********
*/

// ---------- min-width: 641px ----------
.box.tablet-641minWidth {
  align-items: center;
}

// ---------- min-width: 1025px ----------
.box.desktop-1025minWidth {
  padding: 0 8vw;
}
