.container {
  //   -webkit-background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;

  .box {
    width: 100%;
    position: absolute;
    bottom: 12%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10%;

    // .leftHalf {
    //   display: flex;
    //   flex-direction: column;
    // }
  }
}
