.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #0b0d1742;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: screen;

  .box {
    width: 100%;
    position: absolute;
    bottom: 12%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 clamp(1rem, 10vw, 14rem);
  }
}

/*
********** MEDIA QUERIES **********
*/

.box.tablet-641minWidth {
  align-items: center;
}

.box.desktop-1025minWidth {
  padding: 0 8vw;
}
