.subLayout {
  // LEFT SIDE
  & > div:first-child {
    h5 {
      span {
        color: rgba(255, 255, 255, 0.25);
        font-weight: bold;
      }
      margin-bottom: 9.7rem;
    }

    .destImg {
      margin-left: 15%;
    }
  }

  // RIGHT SIDE
  & > div:last-child {
    .desNav {
      margin-bottom: 4rem;

      .tabName {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 0;
        color: #d0d6f9;
      }
      div:nth-last-of-type(n + 2) {
        label {
          margin-right: 3.5rem;
        }
      }

      input[type="radio"]:checked + label {
        span {
          color: #fff;
        }
      }
    }

    h2 {
      line-height: 9rem;
      text-transform: uppercase;
    }
    p {
      color: #d0d6f9;
      margin: 3.5rem 0 5.4rem;
    }

    .horizontalLine {
      display: block;
      width: 44.4rem;
      height: 0.1rem;
      background: #383b4b;
    }

    .travel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2.8rem;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        span {
          &:first-child {
            font-family: "Barlow Condensed";
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 2.3625px;
            color: #d0d6f9;
          }
          &:last-child {
            font-family: "Bellefair";
            font-size: 28px;
            line-height: 32px;
            text-transform: uppercase;
            color: #ffffff;
            margin-top: 1.2rem;
          }
        }
      }
    }
  }
}

/*
********** MEDIA QUERIES **********
*/

.subLayout.desktop-1025minWidth {
  // padding: 0 8vw;
  & > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .destImg {
      margin-left: 3vw;
    }
  }

  & > div:last-child {
    p {
      margin: 2.7vw 0 4.2vw;
    }
    p,
    .horizontalLine,
    .travel {
      width: 34.7vw;
    }
  }
}

.subLayout.tablet-641minWidth,
.subLayout.smartPhone-640maxWidth {
  position: static;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > div:first-child {
    width: 100%;
    margin-top: clamp(13rem, 13vh, 15rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
    h5 {
      font-size: clamp(2rem, 2.2vw, 2.8rem);
      letter-spacing: 0.3375rem;
      margin-bottom: 5vh;
      align-self: flex-start;
      margin-left: 3.85rem;
    }

    .destImg {
      width: 30vh;
      max-width: 44.5rem;
      min-width: 20rem;
      margin-left: 0;
    }
  }

  & > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .desNav {
      margin-bottom: 3vh;
    }
    h2 {
      font-size: clamp(4.8rem, 7.8vh, 10rem);
      line-height: 8.6vh;
    }
    p {
      max-width: 61.2rem;
      width: 74vw;
      font-size: 1.6rem;
      line-height: 2.8rem;
      text-align: center;
      margin-top: 0;
      margin-bottom: 3vh;
    }
    .horizontalLine,
    .travel {
      width: 74.5%;
    }

    .travel {
      justify-content: space-around;

      margin: 2rem 0 1.5rem 0;

      div {
        align-items: center;
      }
    }
  }
}

.subLayout.smartPhone-640maxWidth {
  & > div:first-child {
    margin-top: 8rem;
    margin-bottom: 6.93vw;
    .destImg {
      width: 45.33vw;
      max-width: 25rem;
      min-width: 15rem;
    }

    h5 {
      align-self: center;
      margin-left: 0;
      font-size: clamp(1.4rem, 4.267vw, 2rem);
      letter-spacing: clamp(0.2rem, 0.72vw, 0.4725rem);
      margin-bottom: clamp(2rem, 8.53vw, 4rem);
    }
  }

  & > div:last-child {
    .desNav {
      margin-bottom: clamp(1.2rem, 5.3vw, 3.2rem);
      .tabName {
        font-size: 1.4rem;
      }
      div:nth-last-of-type(n + 2) {
        label {
          margin-right: 6.93vw;
        }
      }
    }

    h2 {
      font-size: clamp(4rem, 14.93vw, 8rem);
      line-height: clamp(4.6rem, 17.1vw, 9.2rem);
    }

    p {
      font-size: clamp(1rem, 4vw, 1.6rem);
      width: 87.2vw;
      min-height: 12.5rem;
      max-width: 44.4rem;
      line-height: clamp(1.7rem, 6.67vw, 2.8rem);
      margin-bottom: 3.2rem;
    }

    .travel {
      flex-direction: column;
      gap: 3.2rem;
      margin: 3.2rem 0 5.8rem;

      div {
        span {
          &:first-child {
            font-size: clamp(1.1rem, 3.73vw, 1.4rem);
          }
          &:last-child {
            font-size: clamp(2rem, 7.47vw, 2.8rem);
            line-height: clamp(2.4rem, 8.53vw, 3.2rem);
            margin-top: clamp(0.3rem, 3.2vw, 1.2rem);
          }
        }
      }
    }
  }
}
