.subLayout {
  h5 {
    span {
      color: rgba(255, 255, 255, 0.25);
      font-weight: bold;
    }
    margin-bottom: 13.5rem;
  }

  .subBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .info {
      margin-left: clamp(1rem, 5.56vw, 8rem);

      span {
        font-family: Barlow Condensed;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        color: #d0d6f9;
      }
    }
  }
  // LEFT SIDE
  & > div:first-child {
    margin-bottom: 9.4rem;

    h3 {
      text-transform: uppercase;
      margin-top: 1rem;
    }

    p {
      color: #d0d6f9;
      margin-top: 1.8rem;
    }

    .techNav {
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.25);

        h4 {
          line-height: 37px;
          text-align: center;
          letter-spacing: 2px;
        }
        &:hover {
          border-color: #fff;
        }
      }
      & > :not(:last-of-type) {
        margin-bottom: 3.2rem;
      }

      input[type="radio"]:checked + label {
        background-color: #fff;
        color: #0b0d17;
      }
    }
  }

  & > div:last-child {
    position: absolute;
    right: 0;
  }
}

/*
********** MEDIA QUERIES **********
*/

// ---------- min-width: 641px ----------
.subLayout.tablet-641minWidth {
  position: static;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 0;
  & > div:last-child {
    width: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 13.6rem;
    .techImg {
      width: 100%;
      display: flex;
    }
    h5 {
      font-size: clamp(2rem, 2.2vw, 2.8rem);
      margin-bottom: 6rem;
      margin-left: 3.5rem;
    }
  }

  & > div:first-child {
    margin-top: 6rem;
    margin-bottom: 0;
    .subBox {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .techNav {
        label {
          width: 6rem;
          height: 6rem;

          h4 {
            font-size: 2.4rem;
          }
        }
        & > :not(:last-of-type) {
          margin-bottom: 0;
          margin-right: 1.6rem;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 4.4rem;
        margin-left: 0;
        margin-bottom: 2rem;

        p {
          text-align: center;
          line-height: 2.8rem;
          font-size: 1.6rem;
        }

        h3 {
          font-size: 4rem;
        }
      }
    }
  }
}

// --------------------------------------

// ---------- min-width: 1025px ----------
.subLayout.desktop-1025minWidth {
  & > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;

    .subBox {
      flex-direction: column-reverse;

      .info {
        margin-left: 0;

        h3 {
          font-size: clamp(4.8rem, 4.5vw, 5.6rem);
        }

        p {
          margin-top: 1.4vw;
          max-width: 44.4rem;
          width: 40vw;
        }
      }

      .techNav {
        margin-top: 5vw;

        & > div {
          margin-bottom: 0;
        }
        & > :not(:last-of-type) {
          margin-right: 2.5vw;
        }
        label {
          width: 6.25vw;
          height: 6.25vw;

          h4 {
            font-size: 2.5vw;
          }
        }
      }
    }
  }
}
