.subLayout {
  color: #d0d6f9;
  h1 {
    color: #fff;
    margin: 2.4rem 0;
  }
}

/*
********** MEDIA QUERIES **********
*/

.subLayout.desktop-1025minWidth {
  & > div:last-child {
    .expBtn {
      button {
        width: 21.1vw;
        height: 21.1vw;
        min-height: 24.2rem;
        min-width: 24.2rem;

        &:hover {
          outline-width: 7vw;
        }
      }
    }
  }
}

.subLayout.tablet-641minWidth,
.subLayout.smartPhone-640maxWidth {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 20%;

  & > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      line-height: 15rem;
    }
    h5 {
      font-size: 2rem;
      line-height: 2.4rem;
    }
    p {
      font-size: 1.6rem;
      line-height: 2.8rem;
      text-align: center;
    }
  }

  & > div:last-child {
    .expBtn {
      button {
        margin-top: 12.5vh;

        width: 24.2rem;
        height: 24.2rem;

        &:hover {
          outline-width: 0;
        }
      }
    }
  }
}

.subLayout.smartPhone-640maxWidth {
  position: static;
  & > div:first-child {
    position: absolute;
    top: 16.8vh;

    h1 {
      font-size: clamp(4rem, 21.5vw, 15rem);
      margin: 3.75vw 0;
      line-height: clamp(4rem, 26.67vw, 15rem);
    }
    p {
      font-size: clamp(1rem, 4vw, 1.6rem);
      width: 87.2vw;
      max-width: 44.4rem;
      line-height: clamp(1.7rem, 6.67vw, 2.8rem);
    }

    h5 {
      font-size: clamp(1.2rem, 4.267vw, 2rem);
      letter-spacing: clamp(0.2rem, 0.72vw, 0.4725rem);
      text-align: center;
    }
  }

  & > div:last-child {
    position: absolute;
    bottom: 7.2vh;

    .expBtn {
      button {
        margin-top: 0;
        width: 40vw;
        height: 40vw;
        h4 {
          font-size: clamp(1.6rem, 5.33vw, 3.2rem);
        }
      }
    }
  }
}
