.container {
  &,
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .btn {
    border: none;
    color: #0b0d17;
    line-height: 37px;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: normal;
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    outline: solid 0 rgba(255, 255, 255, 0.1);
    transition: all ease-in-out 0.3s;
    font-family: "Bellefair";
    font-weight: 400;
    font-size: 3.2rem;

    &:hover {
      outline-width: 9rem;
    }
  }
}
