.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(3rem, 2vw, 5.5rem);

  .horizontalLine {
    width: 30%;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.25);
    margin-right: -5%;
    z-index: 1;
  }

  .navBox {
    display: flex;
    justify-content: left;
    align-items: center;
    justify-self: stretch;
    width: 65%;
    height: auto;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(8rem);
    -webkit-backdrop-filter: blur(8rem);

    .mainNav {
      width: 100%;
      // display: flex;
      // align-items: center;
      // justify-content: left;
      margin-left: clamp(0%, 1vw, 9%);
      margin-right: 9%;
    }
    .radioBtnLabel {
      &,
      .pageNumber {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        color: #fff;
      }
      .pageNumber {
        margin-right: 1.1rem;
        font-weight: bold;
      }

      padding: 3.6rem 0;
    }

    label {
      margin-left: clamp(3rem, 2.5vw, 5rem);
    }
  }
}

/*
********** MEDIA QUERIES **********
*/

.container.tablet-641minWidth {
  top: 0;

  .horizontalLine {
    display: none;
  }

  .navBox {
    width: auto;
    .mainNav {
      margin: 0 4.8rem;
      justify-content: space-between;
    }
    .radioBtnLabel {
      font-size: 1.4rem;
      .pageNumber {
        display: none;
      }
    }
  }
}
