.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(3rem, 2vw, 5.5rem);

  .logo {
    width: clamp(3.6rem, 10.67vw, 4.8rem);
    height: clamp(3.6rem, 10.67vw, 4.8rem);
  }

  .horizontalLine {
    width: 37vw;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.25);
    margin-right: -8vw;
    z-index: 1;
  }

  .navBox {
    display: flex;
    justify-content: left;
    align-items: center;
    justify-self: stretch;
    min-width: 45rem;
    width: 58.6vw;

    height: auto;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(8rem);
    -webkit-backdrop-filter: blur(8rem);

    .mainNav {
      width: 100%;
      margin-left: 8.3vw;
      margin-right: 9%;

      & > :not(:first-of-type) {
        margin-left: 3.34vw;
      }
    }
    .radioBtnLabel {
      &,
      .pageNumber {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        color: #fff;
      }
      .pageNumber {
        margin-right: 1.1rem;
        font-weight: bold;
      }

      padding: 3.6rem 0;
    }
  }
}

/*
********** MEDIA QUERIES **********
*/

.container.tablet-641minWidth {
  top: 0;

  .horizontalLine {
    display: none;
  }

  .navBox {
    .mainNav {
      margin: 0 4.8rem;
      justify-content: space-around;
    }
    .radioBtnLabel {
      font-size: 1.4rem;
      .pageNumber {
        display: none;
      }
    }
  }
}

.container.smartPhone-640maxWidth {
  position: absolute;
  margin: 0;
  top: 0;
  padding: 2.4rem;

  .navBtn {
    background: none;
    border: none;
  }
  .navBox {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60vw;
    min-width: auto;
    margin: 0;
    .mainNav {
      height: 100%;
      margin: 0;
      position: relative;
      & > * {
        justify-content: flex-start;
        padding-left: 3.2rem;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 60%;
        visibility: hidden;
        opacity: 0;
        transition: top ease 0.2s, opacity ease 0.5s;

        label {
          border: none;
          width: 100%;
          border-right: 4px solid transparent;
          padding: 0.5rem 0;
          transition: border-right ease-out 0.2s;
          & > * {
            padding: 0;
            &,
            span {
              font-size: 1.8rem;
              line-height: 2rem;
              letter-spacing: 0.27rem;
            }
          }
        }
      }

      & > :nth-child(1) {
        transition-delay: 0.3s;
      }
      & > :nth-child(2) {
        transition-delay: 0.6s;
      }
      & > :nth-child(3) {
        transition-delay: 0.9s;
      }
      & > :nth-child(4) {
        transition-delay: 1.2s;
      }

      & > div {
        input[type="radio"]:checked + label {
          border-right: 4px solid #fff;
        }
      }
    }
    transition: transform ease 0.3s;

    &.isClosed {
      transform: translateX(60vw);
      .mainNav {
        & > * {
          transition: all step-start;
          transition-delay: 0.3s;
        }
      }
    }

    &.isOpen {
      transform: translateX(0);

      .mainNav {
        & > * {
          opacity: 1;
          visibility: visible;
        }
        & > :nth-child(1) {
          top: 12rem;
        }
        & > :nth-child(2) {
          top: 17.2rem;
        }
        & > :nth-child(3) {
          top: 23.6rem;
        }
        & > :nth-child(4) {
          top: 30rem;
        }
      }
    }
  }
}
