.subLayout {
  bottom: 0 !important;
  // LEFT SIDE
  & > div:first-child {
    margin-bottom: 9.4rem;
    h5 {
      span {
        color: rgba(255, 255, 255, 0.25);
        font-weight: bold;
      }
      margin-bottom: 15rem;
    }
    h4 {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.4);
      margin-bottom: 1.5rem;
    }

    h3 {
      text-transform: uppercase;
    }

    p {
      color: #d0d6f9;
      margin-top: 3rem;
      min-height: 16rem;
    }

    .crewNav {
      margin-top: 12rem;

      .labelBox {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.17);
      }

      label {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: none;

        &:hover > .labelBox {
          border: none;
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
      & > :not(:last-of-type) {
        margin-right: 0.9rem;
      }

      input[type="radio"]:checked + label > .labelBox {
        background-color: #fff;
      }
    }
  }
}
