.subLayout {
  bottom: 0 !important;
  // LEFT SIDE
  & > div:first-child {
    margin-bottom: 9.4rem;
    h5 {
      span {
        color: rgba(255, 255, 255, 0.25);
        font-weight: bold;
      }
      margin-bottom: 15rem;
    }
    h4 {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.4);
      margin-bottom: 1.5rem;
    }

    h3 {
      text-transform: uppercase;
    }

    p {
      color: #d0d6f9;
      margin-top: 3rem;
    }

    .crewNav {
      label {
        width: 1.5rem;
      }
    }
  }
}
